#Statement

In [ ]:
a = 10.5
a

10.5

In [ ]:
num1 = 10
num2 = 20
sum = num1 + num2
sum

30

In [ ]:
#multiple assignment in single line
a = 5 b= 6 c =7
a,b,c

SyntaxError: ignored

In [ ]:
a = 5; b= 6; c =7
a,b,c

(5, 6, 7)

In [ ]:
year = num = b = 2022
print(year)
print(num)
print(b)

2022
2022
2022

In [ ]:
#multiline statement
num_ = 1+2+3+4+
          5+6+7+8+9
num_

SyntaxError: ignored

In [ ]:
num_ = 1+2+3+4+\
          5+6+7+8+9
num_

45

#Indentation

In [ ]:
#program to find sum of all numbers in the list
num = [1,2,3,4,5,6,7,8,9,10]
sum =0
for value in num:
  sum=sum + value
print('The sum is', sum)

The sum is 55

In [ ]:
#program to find sum of all numbers in the list
num = [1,2,3,4,5,6,7,8,9,10]
sum =0
for value in num:
sum=sum + value
print('The sum is', sum)

IndentationError: ignored

#Keywords / Reserved words

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
len(keyword.kwlist)

35

In [ ]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
import math
pie = math.pi
print("The value of pi is : ",pie)

The value of pi is :  3.141592653589793

#Built in Functions

In [ ]:
number = 10
# eval performs the multiplication passed as argument
square_number = eval('number * number')
print(square_number)

100

In [ ]:
# An integer
var = -94
print('Absolute value of integer is:', abs(var))

Absolute value of integer is: 94

#Data Type

In [ ]:
a=1023  
b="Hello Python"  
c = 10.532568  
d = 1+3j  

print(type(a))  
print(type(b))  
print(type(c))  
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>

In [ ]:
str1 = 'hello pythonista' #string str1    
str2 = ' how are you' #string str2    
print (str1[0:2]) #printing first two character using slice operator    
print (str1[4]) #printing 4th character of the string    
print (str1*2) #printing the string twice    
print (str1 + str2) #printing the concatenation of str1 and str2

he
o
hello pythonistahello pythonista
hello pythonista how are you

In [ ]:
a="computer programming"
print(a[0:9])
print(a[9:21])
print(a[6:11])
print(a[17:21])
print(a[5:9])

computer
programming
er pr
ing
ter

In [ ]:
list1  = [1, "hi", "Python", 2]    
#Checking type of given list  
print(type(list1))

<class 'list'>

In [ ]:
tup  = ("hi", "Python", 2)    
# Checking type of tup  
print (type(tup))

<class 'tuple'>

In [ ]:
dit = {1:'prem', 2:'anand', 3:'cpp', 4:'sense'}     
  
# Printing dictionary  
print (type(dit))

<class 'dict'>

In [ ]:
# Python program to check the boolean type  
print(type(True))  
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
set1 = {'James', 2, 3,'Python'}  
  
#Printing Set value  
print(set1)

{3, 'James', 2, 'Python'}

#Data Conversion

##implicit

In [ ]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

##explicit

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: ignored

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

In [ ]:
a = 's34'
b =56
c = int(a)
d = b+ c
d

ValueError: ignored