#Print

In [ ]:
#assigning string to a variable
data = 'I am learning Python programming language!'

# print the string message
print(data)

I am learning Python programming language!

In [ ]:
data1 = 'Hi hello world!'
data2 = 'I am Premanand'

#printing two statements
print(data1, data2)

Hi hello world! I am Premanand

In [ ]:
#concatenation in another way
#printing two statements
print(data1 + data2)

Hi hello world!I am Premanand

In [ ]:
#concatenation in another way
#printing two statements
print('Hi hello world!'+ data2)

Hi hello world!I am Premanand

In [ ]:
#concatenation in another way
#printing two statements
print('Hi hello world!'+ data2 + data3)

NameError: ignored

In [ ]:
#concatenation in another way
#printing two statements
print('Hi hello world!'+ data2 + str('data3'))

Hi hello world!I am Premananddata3

In [ ]:
#printing partial segments

data2 = 'I am Premanand'

print('Hi hello world!', data2)

Hi hello world! I am Premanand

In [ ]:
#assigning values to variable
num = 34

#printing the number
print('My age is', num)

My age is 34

In [ ]:
#Assigning values
num = 34
age = num

#printing the assigned num
print('num', num, 'age', age)

num 34 age 34

In [ ]:
#f-strings concept
name = 'Premanand'
print(f"hello world i am {name}")

hello world i am Premanand

In [ ]:
#with separator
data1 = 'Hi hello world!'
data2 = 'I am Premanand'

#printing two statements
print(data1, data2, sep='***')

Hi hello world!***I am Premanand

In [ ]:
#with separator another way
data1 = 'Hi hello world!'

#printing two statements by removing space
print(data1, 'Premanand', sep='')

print(data1, 'Premanand')

Hi hello world!Premanand
Hi hello world! Premanand

In [ ]:
data1 = 'Hi hello world!'
data2 = 'I am Premanand'

#printing two statements
print(data1)
print(data2)

print('--------------------')
print(data1, end='')
print(data2)

print('--------------------')
print(data1, end='&')
print(data2)

Hi hello world!
I am Premanand
--------------------
Hi hello world!I am Premanand
--------------------
Hi hello world!&I am Premanand

In [ ]:
data1 = 'Hi hello world!'
data2 = 'I am Premanand'

#printing two statements with space
print(data1)
print(data2)
print('------------------')
print(data1)
print('\n')
print(data2)
print('------------------')
print(data1)
print(4*'\n')
print(data2)

Hi hello world!
I am Premanand
------------------
Hi hello world!


I am Premanand
------------------
Hi hello world!





I am Premanand

In [ ]:
# we can do for all other data types
print(31) #integer
print(20.7) #float
print(20j) #complex
print([12,45,98,78]) #list
print((1,2,3,4,5,6,7)) #tuple
print({"name":'Premanand', "interest":'Data science'}) #dictionary
print(False) #boolean
print({'I','love','print','function','!'})

31
20.7
20j
[12, 45, 98, 78]
(1, 2, 3, 4, 5, 6, 7)
{'name': 'Premanand', 'interest': 'Data science'}
False
{'!', 'function', 'love', 'I', 'print'}

In [ ]:
print(None)

None

In [ ]:
import datetime
time_now = datetime.datetime.now()
print('Current time is',time_now)

Current time is 2022-08-31 00:12:06.288294

In [ ]:
with open('file.txt', 'w') as f:
    print('Just now writing in this file! \n Hope it will print in the text file.', file=f)

#input

In [ ]:
#getting input from user
name_ = input('What is your name?')

What is your name?Premanand S

In [ ]:
print('What is your name?', input())

Premanand
What is your name? Premanand

In [ ]:
data1 = input('Whats your favourite programming language?')
data2 = input('Whats your fav technology in AI?')

print(f" my favourite programming language is {data1} and i love to work in {data2} technology")

Whats your favourite programming language?Python
Whats your fav technology in AI?Machine Learning
 my favourite programming language is Python and i love to work in Machine Learning technology

In [ ]:
num1 = int(input('first number:'))
num2 = int(input('second number:'))
num3 = int(input('third number:'))

mathematics_ = (num1 + num2)*num3

print('The final output value is {}'.format(mathematics_))

first number:25
second number:56
third number:24
The final output value is 1944

#import

In [ ]:
import math
e_ = math.e
print("The value of eulers number is : ",e_)

The value of eulers number is :  2.718281828459045

In [ ]:
from math import pi
print('Mathematical value pi =',pi)

Mathematical value pi = 3.141592653589793

In [ ]:
from math import factorial
fact_ = factorial(5)
print('factorial value will be', fact_)

factorial value will be 120

In [ ]:
from math import *
print("The value of cosh is", math.cosh(5))

The value of cosh is 74.20994852478785

In [ ]:
#to view all the function or methods in math module
import math
for method in dir(math):
    print(method)

__doc__
__loader__
__name__
__package__
__spec__
acos
acosh
asin
asinh
atan
atan2
atanh
ceil
copysign
cos
cosh
degrees
e
erf
erfc
exp
expm1
fabs
factorial
floor
fmod
frexp
fsum
gamma
gcd
hypot
inf
isclose
isfinite
isinf
isnan
ldexp
lgamma
log
log10
log1p
log2
modf
nan
pi
pow
radians
remainder
sin
sinh
sqrt
tan
tanh
tau
trunc

In [ ]:
import sys
sys.path

['/content',
 '/env/python',
 '/usr/lib/python37.zip',
 '/usr/lib/python3.7',
 '/usr/lib/python3.7/lib-dynload',
 '',
 '/usr/local/lib/python3.7/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.7/dist-packages/IPython/extensions',
 '/root/.ipython']

#replace()

In [ ]:
words_ = 'cat call'
replace_words = words_.replace('c', 'b')
print(words_)
print(replace_words)

cat call
bat ball

In [ ]:
words1_ =  'come home, its heaven!'
replace_words1_ = words1_.replace('home','mall')
print(words1_)
print(replace_words1_)

come home, its heaven!
come mall, its heaven!

In [ ]:
words2_ =  'say hi!, say hi!, say hi!, say hi!, say hi!,say hi!'
replace_words2_ = words2_.replace('hi','bye',2)
print(words2_)
print(replace_words2_)

say hi!, say hi!, say hi!, say hi!, say hi!,say hi!
say bye!, say bye!, say hi!, say hi!, say hi!,say hi!

#Upper()

In [ ]:
words3_ = "python!"
print(words3_.upper())

PYTHON!

In [ ]:
sent1 = 'Hello World!'
sent2 = 'HELLO WORLD!'

if(sent1.upper()==sent2):
  print('both sentence are same!')
else:
  print('both sentence are not same!')

both sentence are same!

#Lower()

In [ ]:
words4_ = 'Hello Python!'
print(words4_.lower())

hello python!

In [ ]:
sent3 = 'Hello World!'
sent4 = 'HELLO WORLD!'

if(sent3.lower()==sent4):
  print('both sentence are same!')
else:
  print('both sentence are not same!')

both sentence are not same!

#Strip()

In [ ]:
words5_ = '***Learn Python***'
print('Spl Character:',words5_)
print('Stripped words:', words5_.strip('*'))

Spl Character: ***Learn Python***
Stripped words: Learn Python

In [ ]:
words6_ = 'amazing'
print(words6_)
print(words6_.strip('am'))

amazing
zing

#Slice()

In [ ]:
words7_ = ('P','R','E','M','A','N','A','N','D')
slice_ = slice(4)
print(words7_[slice_])

('P', 'R', 'E', 'M')

In [ ]:
slice_ = slice(2,4)
print(words7_[slice_])

('E', 'M')

In [ ]:
slice_ = slice(1,4,2)
print(words7_[slice_])

('R', 'M')

#Max() & Min()

In [ ]:
num1 = [1,3,555,689, -5654]
print(max(num1))
print(min(num1))

689
-5654

In [ ]:
num2 = max(2,2.3,2.31)
print(num2)
num2_ = min(2,2.3,2.31)
print(num2_)

2.31
2

In [ ]:
string1 = ['Prem','Anand','Premanand','VIT']
print(max(string1))
print(min(string1))

VIT
Anand

In [ ]:
string2 = ['Pass','Passs','Passss']
print(max(string2))
print(min(string2))

Passss
Pass

In [ ]:
dict1 = {'a':1, 'b':2, 'c':3, 'd':4}
#for largest key
key_ = max(dict1)
print(key_)
key1 = min(dict1)
print(key1)

#for largest value
value_=dict1[key_]
print(value_)

#for smallest value
value1 = dict1[key1]
print(value1)

d
a
4
1